# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

~*
*~
exec_plan/src/.deps
exec_plan/src/net_tester
exec_plan/Debug
exec_plan/.metadata
